# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json
*.terraform.lock.hcl*
.terraformrc
terraform.rc
override.tf
override.tf.json
*_override.tf
*_override.tf.json
